@import "font.css";

html {
  margin: 0;
  font-family: 'Baloo Bhai', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  background: #F2F5FC !important;
}